html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFC6E9;
    font-optical-sizing: auto;
}
.eslogan_header{
    position: relative;
    left: 170px;
    bottom: 52px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    width: fit-content;
}
hr{
    margin: 12px;
}
nav{
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    border: 5px solid #ff00ff;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    width: fit-content;
}
a{
    transition: background-color 0.2s ease;
}
h1{
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    text-shadow: 3px -3px 0px #ffffff;
}
h2{
    position: relative;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    text-shadow: 2px -2px 0px #ffffff;
    padding-left: 10px;
}
h3, label{
    position: relative;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    text-shadow: 1px -1px 0px #ffffff;
    padding-left: 10px;
}
p, input, textarea{
    font-family: "Lora", serif;
    font-weight: 450;
    font-style: normal;
}
p{
    text-align: justify;
    padding: 35px;
    font-size: 18px;
}
input, textarea{
    padding-left: 10px;
    font-size: 16px;
}
li{
    font-family: "Lora", serif;
    font-weight: 450;
    text-align: justify;
    padding: 10px;
    font-size: 18px;
    font-style: normal;
}
.imagen_centro{
    text-align: center;
    transition: transform 0.2s ease;
}
.imagen_centro:hover{
    transform: scale(1.1);
}
.icons{
    position: relative;
    padding-left: 10px;
}
.texto_links{
    position: relative;
    left: 60px;
    bottom: 35px;
    font-family: "Lora", serif;
    font-weight: 450;
    font-size: 18px;
    font-style: normal;
    width: fit-content;
}
.link_arriba{
    transition: background-color 0.2s ease;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    border: 5px solid #ff00ff;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.link_arriba:hover, a:hover{
    background-color: #ff95ff;
    border-radius: 5px;
}
footer{
    font-family: "Lora", serif;
    font-weight: 400;
    text-align: center;
    font-size: large;
    font-style: normal;
}